.searchPage_header{
    display: flex;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
    align-items: flex-start;
    padding: 30px;
    border-bottom: 1px solid lightgrey;
}

.searchPage_header img{
    height: 70px;
    margin-right: 40px;
}

.searchPage_options{
    display: flex;
    align-items: center;
    color: gray;
    margin-top: 20px;
}

.searchPage_options a{
    text-decoration: none;
    color: grey;
    margin-left: 5px;
}

.searchPage_optionsLeft , .searchPage_optionsRight {
    display: flex;
    align-items: center;
}

.searchPage_option{
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.searchPage_optionsRight{
    margin-left: 80px;
}

.searchPage .search_input{
margin-top: 0px;
margin: 0px 0px;
}


.searchPage_resultCount{
    color: #70757a;
    font-size: 14px;
}

.searchPage_result{
    margin: 40px 0px;
}

.searchPage_resultLink{
    
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
    margin-bottom: 3px;
}

.searchPage_resultImage{
    height: 50px;
    width: 50px;
    object-fit: contain;
    margin-right: 10px;
}

.searchPage_resultTitle{
    text-decoration: none;

}
.searchPage_resultTitle:hover{
    text-decoration: underline;
}
.searchPage_resultTitle>h2{
    font-weight: 500;
}

.searchPage_resultdescription{
    margin-top: 10px;
}

.searchPage_results{
    max-width: 650px;
    margin-top: 20px;
    margin-left: 200px;
    margin-bottom: 100px;
}
