.search_input{
    display: flex;
    align-items: center;
    border: 1px solid lightgrey;
    height: 30px;
    padding: 10px 15px;
    width: 500px;
    margin: 0px auto;
    border-radius: 999px;
    
}

.search_input>input{
    flex: 1;
    padding: 8px 13px;
    font-size: medium;
    border: 0;
    outline: 0;
}

.searchicon{
    color: gray;
}

.search_buttons{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.search_buttons button{
    margin: 5px;
    background-color: rgb(233, 224, 224) !important ;
    border: 1px solid rgb(233, 224, 224);
    text-transform: inherit;
    color: gray;
}
.search_buttons button:hover{
    margin: 5px;
    background-color: rgb(233, 224, 224) !important;
    color: #000;
    border: 1px solid #c6c6c6;
}